main{
    display: flex;
    align-items: center;
    justify-content: center;
}
.calculadora{
    border: 1px rgb(22, 16, 56);
    border-radius: 8px;
    width: 330px;
}
body{
    background-color: #B2E0C3;
}
